

    body{
   background-color: #ffffff ;
   width:100%;
   margin: 0 auto;
   overflow: hidden;
}
@media (min-width: 420px) {
    img{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: -webkit-fill-available;
        margin-top: 12rem;
    }
    
      
    }
    @media (min-width: 577px) {
        img{
            display: flex;
            justify-content: center;
            justify-items: center;
            width: -webkit-fill-available;
            margin-top: 10rem;
        }
        
          
        }
        @media (min-width: 768px) {
            img{
                display: flex;
                justify-content: center;
                justify-items: center;
                width: -webkit-fill-available;
                margin-top: 5rem;
            }
            
              
            }